<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
  <!-- jQuery link -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
  <!-- Bootstrap link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/lumen/bootstrap.min.css">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Javascript Link -->
  <script type="text/javascript" src="/javascript/script.js"></script>

  <!-- Adding the google maps api here -->
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>

</head>
<body class = "container">