<% include partials/headerSinglePageApp %>


<h2>Craft Brewery Finder</h2>

	<div class="page-links">
		<a href="/login">Login</a>
		<br>
		<a href="/signup" class="new-user">New user? Signup here</a>
	</div>

<a href="brewery/new" id="newBreweryLink">Brewery Search</a>


<h4>Search Field</h4>

<% include partials/footer %>
