/*.locate-beer {
	text-align: center;
}*/

/*.locate-beer {
	text-align: right;
	float: left;
}

.brewery-name {
	position: relative;
	float: left;
}*/
 #map-canvas {
       width: 800px;
       height: 600px;
       background-color: #CCC;
       float:left;
     }
.page-links {
	float: right;
}

.google-map {
	padding: 20px 0 0 0;
}

.location-search {
	text-align: center;
	padding-bottom: 20px;
}

h2, h4 {
	text-align: center;
}

h4 {
	margin-top: 30px;
}

.brewery-name {
	margin-top: 30px;
}

.search-fields {
	float: left;
	margin-top: 30px;
	text-align: right;
}

.page-links {
	float: left;
	left: 30px;
	margin-top: 20px; 
	position: relative;
}

.searchin {
	margin-top: 20px;
/*	color: transparent;*/
}

.new-user {
	margin-top: 40px;
	position: relative;
}

.beer-map {
	left: 20px;
	position: relative;
}

.form {
	list-style-type: none;
}

#newBreweryLink {
	margin: 0 auto;
	text-align: center;
}