/*.locate-beer {
	text-align: center;
}*/

/*.locate-beer {
	text-align: right;
	float: left;
}

.brewery-name {
	position: relative;
	float: left;
}*/
/** {
	margin: 0 auto;
}*/

#body-color {
	background-color: #B40404;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	width: 1400px;
}

.links-color {
	background-color: #F7F8E0;
	position: relative;
	border-radius: 20px;
	height: 140px;
	width: 300px;
}

.links {
	left: 20px;
	position: relative;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 24px;
}

.links {
	font-size: 16px;
}

.heading {
	background-color: #F7F8E0;
	border-radius: 20px;
	height: 50px;
	width: 400px;
}

.heading, .brewery-results {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

/*.return {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: red;
	float: left;
  left: 10px;
	position: relative;
	width: 200px;
}*/

.red {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: red;
	object-fit: cover;
	position: relative;
	width: 1200px;
}

.links {
	/*background-color: #F7F8E0;*/
	padding-top: 20px;
	position: relative;
/*	width: 200px;*/
}

.brewery-image {
/*	border-radius: 20px;*/
	padding: 15px 0 20px 0;
}

.info {
	font-size: 20px;
	padding-bottom: 30px;

}

.color-background {
	background-color: #F7F8E0;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 1250px;

	-moz-border-radius: 20px;
}

.resultsGoHere {
/*	background-color: #F7F8E0;*/
	padding: 50px 0 30px 0;
	margin-top: 50px;

	text-align: center;
	-webkit-column-count: 3;
	-webkit-column-gap: 60px;

	-moz-column-count: 3;
	-moz-column-gap: 60px;

	column-gap: 60px;
	column-count: 3;
}

 #map-canvas {
       width: 800px;
       height: 600px;
       background-color: #CCC;
       float:left;
     }
.page-links {
	float: right;
}

.google-map {
	padding: 20px 0 0 0;
}

.location-search {
	text-align: center;
	padding-bottom: 20px;
}
/*
h2, h4 {
	color: white;
	text-align: center;
}*/

/*h3 {
	color: white;
	padding-bottom: 20px;
	text-align: center;
}*/

h4 {
	margin-top: 30px;
}

.brewery-name {
	margin-top: 30px;
}

.search-fields {
	float: left;
	margin-top: 30px;
	text-align: right;
}

.page-links {
	float: left;
	left: 30px;
	margin-top: 20px; 
	position: relative;
}

.searchin {
	margin-top: 20px;
/*	color: transparent;*/
}

.new-user {
	margin-top: 40px;
	position: relative;
}

.beer-map {
	left: 20px;
	position: relative;
}

.form {
	list-style-type: none;
}

#newBreweryLink {
	margin: 0 auto;
	text-align: center;
}