#body-color {
	background-color: #B40404;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	width: 1400px;
}

.links-color-background {
	background-color: #F7F8E0;
	border-radius: 20px;
	height: 140px;
	width: 300px;
	
	left: 80px;
	position: relative;
}

.color-background {
	
}

.links {
	left: 20px;
	position: relative;
}

.logo {
/*	font-family: 'Lobster', cursive;*/
	font-size: 24px;
}

.home {
	font-size: 30px;
/*	font-family: 'Lobster', cursive;*/
}

.links {
	font-size: 16px;
}

.heading {
	background-color: #F7F8E0;
	border-radius: 20px;
	width: 400px;
}

span.brewery-results {
	font-size: 50px;
	position: relative;
	padding-top: 20px;
	top: 20px;
}

.brewery-results {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	position: relative;
/*	margin: 0 auto;
*//*	text-align: center;*/
}

.additional-info {
	font-size: 18px;
}

.red {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: red;
	object-fit: cover;
	position: relative;
	width: 1200px;
}

.links {
	padding-top: 20px;
	position: relative;
}

.brewery-image {
	padding: 15px 0 20px 0;
}

.info {
	font-size: 20px;
	padding-bottom: 30px;

}

.color-background {
	background-color: #F7F8E0;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 1250px;

	-moz-border-radius: 20px;
}

.resultsGoHere {
	padding: 20px 0 30px 0;
	margin-top: 50px;

	text-align: center;
	-webkit-column-count: 3;
	-webkit-column-gap: 60px;

	-moz-column-count: 3;
	-moz-column-gap: 60px;

	column-gap: 60px;
	column-count: 3;
}

 #map-canvas {
    width: 800px;
    height: 600px;
    background-color: #CCC;
    float:left;
}

.page-links {
	float: right;
}

.google-map {
	padding: 20px 0 0 0;
}

.location-search {
	text-align: center;
	padding-bottom: 20px;
}

h4 {
	margin-top: 30px;
}

.brewery-name {
	margin-top: 30px;
}

.search-fields {
	float: left;
	margin-top: 30px;
	text-align: right;
}

.page-links {
	float: left;
	left: 30px;
	margin-top: 20px; 
	position: relative;
}

.searchin {
	margin-top: 20px;
}

.new-user {
	margin-top: 40px;
	position: relative;
}

.beer-map {
	left: 20px;
	position: relative;
}

.form {
	list-style-type: none;
}

#newBreweryLink {
	margin: 0 auto;
	text-align: center;
}