* {
	text-align: center;
	margin: 0 auto;
}

#whole-thing {
	background-color: #B40404;
	border-radius: 20px;
	position: relative;
	top: 220px;
	height: 600px;
	width: 1200px;
}

.style-signup {
	background-color: #F7F8E0;
	border-radius: 20px;
	position: relative;
	top: 50px;

	height: 500px;
	width: 1100px;
}

.brew-signup-page {
	font-size: 45px;
	font-family: 'Lobster', cursive;
	position: relative;
	padding-bottom: 150px;
	bottom: 120px; 
 }

.form-info {
	font-size: 28px;
	position: relative;
	padding-top: 120px;
  bottom: 40px;
}

.signup-form {
	padding-top: 10px;
}

#signup {
	border-radius: 20px;
	bottom: 30px;
	position: relative;
	top: 20px;
}

.inquiry {
	font-size: 18px;
	position: relative;
	top: 40px;
}