<% include ../partials/header %>

<h3>Welcome Back to Brew It!</h3>

<form action="/login" method="POST">
	
	<div class="login-form">
		<label for="email">Enter Email:</label>
			<input type="text" id="email" name="user[email]" autofocus>
	</div>


	<div class="username">
		<label for="username">Username:</label>	
			<input type="text" id="password" name="user[password]" autofocus>
			<input type="submit">
	</div>

</form>

<a href="/signup">Don't Have An Account? Sign up here</a>

<% include ../partials/footer %>