<% include ../partials/header %>

<div class="red-style">
	<div class="beige-style">
		<span class="brew-signup-page"> Welcome Back to Brew It!</span>
		<div class="big-form">
			<form action="/login" method="POST">
				<div class="login-form">
					<label for="username">Enter Username:</label>
					<input type="text" id="username" name="user[username]" autofocus>
				</div>

		<div class="login-form">
			<label for="password">Password:</label>	
				<input type="text" id="password" name="user[password]" autofocus>
				<br>
				<input type="submit" class="login-submit">
		</div>
			</form>
		</div>	
			<div class="login-links">
				<a href="/signup">Don't Have An Account? Sign up here</a>
			</div>	
	</div>
</div>	
	


<% include ../partials/footer %>