<!-- This is my breweries INDEX page -->

<% include ../partials/header %>

<h2>Brew It Search</h2>

<!-- <h4>Logo and/or Map should be here. Map should appear on the SHOW page</h4> -->

	<div class="page-links">
		<a href="/login">Login</a>
		<br>
		<a href="/signup" class="new-user">New user? Signup here</a>
	</div>

<form action="/breweries?_method=put" method="POST">
	<div class="location-search">
		<label for="locate" id="locate">Location:</label>
			<input type="text">
				<!-- <input type="text" class="searchin" id="locate" name="locate"style="width: 250px"> -->
			<!-- placeholder="Enter a City & State, Address, or Zip Code" -->
			<input type="submit" value="Find Breweries" class="locate">
			</input>
	</div>

		<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d403760.5698387298!2d-122.4376!3d37.75770000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1435523992101" width="800" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>

	<!--
		<div class="brewery-name">
			<label for="breweryName">Find Brewery By Name:</label>
				<input type="text" class="searchin" id="breweryName" name="breweryName" style="width: 140px" placeholder="Enter a Brewery Name">
				<button type="submit" class="brew">Find Breweries</button>
		</div>
    </div> -->

		<!-- <div class="search-beer">
			<label for="beerCurious">Curious about a beer?</label>
				<input type="text" class="searchin" id="beerCurious" name="beerCurious" placeholder="Enter a Beer Here">
				<button type="submit" class="learn-more">Find A Beer</button>
		</div>  -->

<!-- 	<a href="brewery/index" id="newBreweryLink">Brewery Search</a> -->


<!-- 	<ul class="form">
		<div class="form-group">
			<li>Location:</li>
		</div>

		<div class="form-group">
			<li>Brewery:</li>
		</div>

		<div class="form-group">
			<li>Beer:</li>
		</div>
 -->

<!-- 	<div class="display-results"></div>
</div>	 -->

<!-- Begin Beer Mapping Blog/Site Map - http://beermapping.com -->
<!-- <div class="beer-map">
	<div style="line-height: 1px">
		<div style="width:450px; height:40px; overflow:hidden; line-height: 100%; background-color:#466A8E">
			<a href="http://beermapping.com" title="The Beer Mapping Project">
				<img alt="The Beer Mapping Project" title="The Beer Mapping Project" src="http://beermapping.com/images/beermappingbloglogo.gif" style="height: 20px; width: 170px; margin-top: 2px; margin-left: 139px;border:none; "/></a>
				<div style="text-align:center">

				<a href="http://beermapping.com/maps/reviews/reviews.php?locid=8021" title="see reviews" style="font-family:arial; color:#FFFFFF; font-size: 10px !important; ">Les 3 Brasseurs - Montpellier</a></div></div>
				<iframe frameborder="0" width="450" height="300" scrolling="no" src="http://beermapping.com/maps/blogproxy.php?locid=8021&amp;d=1&amp;type=norm"></iframe> -->

				<!-- <div style="width:450px; height:18px; text-align : center; line-height: 100%; background-color:#466A8E;"> -->
				<!-- <a href="http://beermapping.com/forum/" style="font-family:arial; color:#FFFFFF; font-size: 10px !important; " title="Beer Trips Discussion at The Beer Mapping Forums">Forums</a> 
				<span style="color:#CCCCCC;">|</span> 
				<a href="http://beermapping.com/brewery-maps/" style="font-family:arial; color:#FFFFFF; font-size: 10px !important; " title="Plan Brewery Travel with International Brewery Maps">Brewery Maps</a> 
				<span style="color:#CCCCCC;">|</span> 
				<a href="http://beermapping.com/city-beer-maps/" style="font-family:arial; color:#FFFFFF; font-size: 10px !important; " title="Plan Beer Trips with our City Beer Maps">City Maps</a> -->
	<!-- 	</div>
	</div>
</div> --><!-- End Beer Mapping Blog/Site Map -->


<% include ../partials/footer %>