<!-- This is my BREWERIES Show Page -->
<% include ../partials/header %>
	<h2>See more about <%= brewery.name %> </h2>

	<h3>
		Location: <%= brewery.location %>		
	</h3>

	<h3></h3>

<% include ../partials/footer %>