<!-- This is my BREWERIES Show Page -->
<% include ../partials/header %>

<script type="text/javascript" src="/javascript/search.js"></script>
	<h2>See more about</h2>

	<h3>
		Location:		
	</h3>

	<!-- <div id="map-canvas"></div> -->
	
	<div class="resultsGoHere"></div>
	<h3></h3>

<% include ../partials/footer %>